<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ routes.bootstrap }}">
    <link rel="stylesheet" href="{{ routes.css }}/styles.scss">
    <link rel="icon" href="{{ routes.images }}/logo.ico" type="image/x-icon">
</head>
<body class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="?page=home" class="navbar-brand d-flex align-items-center {% if current_page == 'home' %}active{% endif %}">
                <img src="{{ routes.images }}/home.png" width="25" height="25">
                <strong>Accueil</strong>
            </a>
            <a href="?page=entreprise" class="navbar-brand d-flex align-items-center {% if current_page == 'entreprise' %}active{% endif %}">
                <img src="{{ routes.images }}/entreprise.png" width="25" height="25" class="me-2">
                <p class="mb-0">Entreprise</p>
            </a>
            <a href="?page=stagiaire" class="navbar-brand d-flex align-items-center {% if current_page == 'stagiaire' %}active{% endif %}">
                <img src="{{ routes.images }}/stage.png" width="25" height="25" class="me-2">
                <strong>Stagiaire</strong>
            </a>
            <a href="?page=inscription" class="navbar-brand d-flex align-items-center {% if current_page == 'inscription' %}active{% endif %}">
                <img src="{{ routes.images }}/inscrire.png" width="25" height="25" class="me-2">
                <p class="mb-0">Inscription</p>
            </a>
            <a href="?page=aide" class="navbar-brand d-flex align-items-center {% if current_page == 'aide' %}active{% endif %}">
                <img src="{{ routes.images }}/aide.png" width="25" height="25" class="me-2">
                <p class="mb-0">Aide</p>
            </a>
            <a href="?page=deconnexion" class="navbar-brand d-flex align-items-center">
                <img src="{{ routes.images }}/deconnexion.png" width="25" height="25" class="me-2">
                <p class="mb-0">Déconnexion</p>
            </a>
        </div>
    </nav>

    <header class="mt-5 pt-3">
        {% if error_message %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error_message }}
            </div>
        {% endif %}

        {% if success_message %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ success_message }}
            </div>
        {% endif %}
    </header>

    <main class="container" style="padding-bottom: 60px">
        <div class="container text-center">
            <h1>Stage BTS</h1>
            <p>Bienvenue sur la page de gestion des stages</p>
            <hr class="my-4" />
            <img src="{{ routes.images }}/logo.png" width="600" height="600"/>
        </div>        
    </main>

    <footer class="bg-dark text-white py-3 mt-auto fixed-bottom">
        <div class="container d-flex justify-content-between">
            <div>
                &copy; 2023-2024 Polytech Lyon 3A Info
            </div>
            <div>
                Plateforme créée par : MESSAOUDI Amin 12108951, NADIR Ayoub 12101440
            </div>
        </div>
    </footer>

    <script src="{{ routes.bootstrap | replace({'.css': '.bundle.min.js'}) }}"></script>
    <script src="{{ routes.js }}/javascript.js"></script>
</body>
</html>