<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ routes.bootstrap }}">
    <link rel="stylesheet" href="{{ routes.css }}/styles.scss">
</head>
<body>
<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <!-- Logo ou Titre de la page -->
        <a href="?page=home" class="navbar-brand d-flex align-items-center">
            <img src="{{ routes.images }}/home.png" width="25" height="25">
            <strong>Accueil</strong>
        </a>

        <a href="?page=entreprise" class="navbar-brand d-flex align-items-center">
            <img src="{{ routes.images }}/entreprise.png" width="25" height="25" class="me-2">
            <p class="mb-0">Entreprise</p>
        </a>

        <a href="?page=stagiaire" class="navbar-brand d-flex align-items-center">
            <img src="{{ routes.images }}/stage.png" width="25" height="25" class="me-2">
            <p class="mb-0">Stagiaire</p>
        </a>

        <a href="?page=inscription" class="navbar-brand d-flex align-items-center">
            <img src="{{ routes.images }}/inscrire.png" width="25" height="25" class="me-2">
            <p class="mb-0">Inscription</p>
        </a>

        <a href="?page=aide" class="navbar-brand d-flex align-items-center">
            <img src="{{ routes.images }}/aide.png" width="25" height="25" class="me-2">
            <p class="mb-0">Aide</p>
        </a>

        <a href="?page=deconnexion" class="navbar-brand d-flex align-items-center">
            <img src="{{ routes.images }}/deconnexion.png" width="25" height="25" class="me-2">
            <p class="mb-0">Déconnexion</p>
        </a>
    </div>
</div>
<body>
    <header>
        <div class="container text-center">
            <h1>Stage BTS</h1>
            <p>Bienvenue sur la page de gestion des stages</p>
            <hr class="my-4" />
            <p class="strike">Version précédente en maintenance</p>
              <img src="{{ routes.images }}/stage-bts-cg.jpg" width="900" height="600"/>
        </div>
    </header>

    <main>
    </main>

    <!-- Votre contenu ici -->

    <script src="{{ routes.bootstrap | replace({'.css': '.bundle.min.js'}) }}"></script>
    
</body>
</html>